* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Wrapper {
  margin: 50px 25% 20px;
  border: 1px solid black;
  line-height: 9px;
}

.grid {
  text-align: center;
  border: 1px solid black;
  display: inline-block;
  min-height: 50px;
}